.ToDoLists textarea {
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    min-width: calc(50% - 50px);
}

.ToDoLists-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    row-gap: 5px;
}

.ToDoLists-item {
    font-size: 13px;
    user-select: none;
}

.ToDoLists-item.finished:before {
    content: "☑️";
}

.ToDoLists-item.unfinished:before {
    content: "⬜";
}

.ToDoLists-item.finished .description {
    text-decoration: line-through;
}

.ToDoLists-item.unfinished .description {
    text-decoration: none;
}

.ToDoLists-items.manageable .description {
    cursor: pointer;
}

.ToDoLists-item .actions {
    margin-left: 10px;
    visibility: hidden;
}

.ToDoLists-item:hover .actions {
    visibility: visible;
}

.ToDoLists-item .actions a {
    padding: 2px;
    text-decoration: none;
}

.ToDoLists-item.finished .edit {
    display: none;
}
