.ToDoLists form {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    justify-content: space-between;
}

.ToDoLists textarea {
    flex: 1 1 auto;
    min-height: 29px;
    overflow-wrap: break-word;
    overflow: hidden;
    resize: vertical;
}

.ToDoLists-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

.ToDoLists-item {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 13px;
    justify-content: space-between;
}

.ToDoLists-item::before {
    font-family: FontAwesome;
    font-size: larger;
    height: 20px;
}

.ToDoLists-item.finished::before {
    content: "\f046";
    margin-right: 4px;
}

.ToDoLists-item.unfinished::before {
    content: "\f096";
    margin-right: 6px;
}

.ToDoLists-item .description {
    color: #337ab7;
    flex: auto;
}

.ToDoLists-item:hover .description {
    color: #23527c;
    cursor: pointer;
}

.ToDoLists-item.finished .description {
    text-decoration: line-through;
}

.ToDoLists-item .actions {
    margin-left: 10px;
    user-select: none;
    visibility: hidden;
    white-space: nowrap;
}

.ToDoLists-item:hover .actions {
    visibility: visible;
}

.ToDoLists-item .actions a {
    padding: 2px;
    text-decoration: none;
}
